<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
//- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<!------ Include the above in your HEAD tag ---------->
style.
    .noData{
      padding-top:40px;
      font-size:25px;
    }

    .licensePlateColumn
    {
     width: 20;
    }
    .sidenav {
    height: 100%;
    width: 17%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    
    }

    .sidenav a {
      padding: 6px 8px 6px 16px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
    }

    .sidenav a:hover {
      color: #f1f1f1;
    }
    .tableHeader{
      font-size: 50px;
      padding-left:50%;
      padding-top:1%;
    }
    .table-responsive{
     margin-top: -1.5% ;
      
    }
    .reportBox{
    overflow-x:auto;
    margin-left:21%;
    }

<!---------------------------------------------------->

<div class="sidenav">
  <div class="sidebar-header">
            <h3>การจัดการ</h3>
  </div>
  <ul>
    <li class="active"><a href="/admin/report?link=0">ข้อมูลออเดอร์ทั้งหมด</a></li>
    <li><a href="/admin/report?link=1">ออเดอร์ที่รอการอนุมัติ</a></li>
    <li><a href="/admin/report?link=2">ออเดอร์ที่ได้รับการอนุมัติ</a></li>
    <li><a href="/admin/report?link=3">ออเดอร์ที่กำลังไปรับของ</a></li>
    <li><a href="/admin/report?link=4">ออเดอร์ที่กำลังขนส่ง</a></li>
    <li><a href="/admin/report?link=5">ออเดอร์ที่เสร็จสิ้น</a></li>
  </ul>
</div>


<div class="tableHeader">
    <h1>#{textHeader}</h1>
</div>
if nomoreData
  <div class='tableHeader'><p class='noData'>ขณะนี้ไม่มีข้อมูลการจัดส่งในระบบ</p></div>

<div class="table-responsive">
  <div class="reportBox" >
    if haveData
      <div class="row col-md-13 col-md-offset-2 " >
        
        <table class="table table-striped " style="border: 1px solid #ccc;  padding: 5px; margin: 5% 0; box-shadow: 3px 3px 2px #ccc; transition: 0.5s;">
        <thead>
            <tr>
                <th class="text-center" scope="col">หมายเลขออเดอร์</th>
                <th class="text-center" scope="col">รุ่นรถบรรทุก</th>
                <th class="text-center" scope="col">หมายเลขทะเบียนรถ</th>
                <th class="text-center" scope="col">จำนวนพาเลท</th>
                <th class="text-center" scope="col">สถานะการขนส่ง</th>
                <th class="text-center">แก้ไข</th>
            </tr>
        </thead>
      <tbody>
      if singleTruck
        each a in data1
          <tr>
            <th class="text-center"scope="row">#{a.orderNo}</th>
            <td class="text-center">#{a.truckType}</td>
            <td class="text-center">#{a.licensePlate}</td>
            <td class="text-center">#{a.qty}</td>
            <td class="text-center">#{a.status}</td>
            <td class="text-center"><a class='btn btn-info btn-xs' href="/admin/edit?order=#{a.orderNo}" span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="/admin/del?order=#{a.orderNo}" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a></td>
          </tr>
      if multiTruck
        each b,index in data2
          <tr>
            <th class="text-center" scope="row">#{b.orderNo}</th>
              <td class="text-center">#{jsonarraytype[index]}</td>
              <td class="text-center">#{jsonarraylicense[index]}</td>
              <td class="text-center">#{b.qty}</td>
              <td class="text-center">#{b.status}</td>
              <td class="text-center"><a class='btn btn-info btn-xs' href="/admin/edit?order=#{b.orderNo}" span class="glyphicon glyphicon-remove"></span>Edit</a> <a href="/admin/del?order=#{b.orderNo}" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a></td>
          
          </tr>
      </tbody>
      </table>
    </div>
  
  </div>
</div>