<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<!------ Include the above in your HEAD tag ---------->

<div class="container" >
if singleTruck
  <div class="row col-md-10 col-md-offset-1 custyle" >
    <table class="table table-striped custab" style="border: 1px solid #ccc;  padding: 5px; margin: 5% 0; box-shadow: 3px 3px 2px #ccc; transition: 0.5s;">
    <thead>
        <tr>
            <th class="text-center" scope="col">หมายเลขออเดอร์</th>
            <th class="text-center" scope="col">รุ่นรถบรรทุก</th>
            <th class="text-center" scope="col">หมายเลขทะเบียนรถ</th>
            <th class="text-center" scope="col">จำนวนพาเลท</th>
            <th class="text-center" scope="col">สถานะการขนส่ง</th>
            <th class="text-center">แก้ไข</th>
        </tr>
    </thead>
    <tbody>
    each a in data1
      <tr>
        <th class="text-center"scope="row">#{a.orderNo}</th>
        <td class="text-center">#{a.truckType}</td>
        <td class="text-center">#{a.licensePlate}</td>
        <td class="text-center">#{a.qty}</td>
        <td class="text-center">#{a.status}</td>
        <td class="text-center"><a class='btn btn-info btn-xs' href="/admin/edit?order=#{a.orderNo}" span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="/admin/del?order=#{a.orderNo}" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a></td>
      </tr>
    
    </tbody>
    </table>
  </div>
if multiTruck
  <div class="row col-md-12 col-md-offset-0 custyle" >
    <table class="table table-striped custab" style="border: 1px solid #ccc;  padding: 5px; margin: 5% 0; box-shadow: 3px 3px 2px #ccc; transition: 0.5s;">
    <thead>
        <tr>
            <th class="text-center" scope="col">หมายเลขออเดอร์</th>
            <th class="text-center" scope="col">รุ่นรถบรรทุก</th>
            <th class="text-center" scope="col">หมายเลขทะเบียนรถ</th>
            <th class="text-center" scope="col">จำนวนพาเลท</th>
            <th class="text-center" scope="col">สถานะการขนส่ง</th>
            <th class="text-center">แก้ไข</th>
        </tr>
    </thead>
    <tbody>
    each b,index in data2
      <tr>
        <th class="text-center" scope="row">#{b.orderNo}</th>
          <td class="text-center">#{jsonarraytype[index]}</td>
          <td class="text-center">#{jsonarraylicense[index]}</td>
          <td class="text-center">#{b.qty}</td>
          <td class="text-center">#{b.status}</td>
          <td class="text-center"><a class='btn btn-info btn-xs' href="/admin/edit?order=#{b.orderNo}" span class="glyphicon glyphicon-remove"></span>Edit</a><a href="/admin/del?order=#{b.orderNo}" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a></td>
      
      </tr>
    
    </tbody>
    </table>
  </div>

</div>

