<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
//- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<!------ Include the above in your HEAD tag ---------->
style.
    .noData{
      padding-top:40px;
      
      font-size:25px;
    }

    .report{
            margin: 0 ;
            position: absolute ;
            top: 20% ;
            left: 50% ;
            margin-right: -50% ;
            transform: translate(-50%, -50%) ;
            border-style: dashed ;
            padding-top: 50px;
            padding-right: 50px;
            padding-bottom: 50px;
            padding-left: 50px;
            margin-top: 13% ;
            font-size:20px;
            border-radius: 12px;
        }
    .sidenav {
    height: 100%;
    width: 17%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    
    }

    .sidenav a {
      padding: 6px 8px 6px 16px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
    }

    .sidenav a:hover {
      color: #f1f1f1;
    }
    .tableHeader{
      font-size: 50px;
      padding-left:50%;
      padding-top:1%;
    }
    .table-responsive{
     margin-top: -1.5% ;
      
    }
    .reportBox{
    overflow-x:auto;
    margin-left:21%;
    }
    .orderHeader{
    font-size: 30px;
      padding-left:40%;
      padding-top:2%;
    }
    .adminSubmit{
        margin-left:35%;
        }

<!---------------------------------------------------->

<div class="sidenav">
  <div class="sidebar-header">
            <h3>การจัดการ</h3>
  </div>
  <ul>
    <li class="active"><a href="/driver/report">ค้นหาออเดอร์</a></li>
    <li class="active"><a href="/driver/all">ออเดอร์ที่ได้รับการยืนยัน</a></li>
    <li class="active"><a href="/driver/pickup">ออเดอร์ที่กำลังไปรับของ</a></li>
    <li class="active"><a href="/driver/transport">ออเดอร์ที่กำลังขนส่ง</a></li>
  </ul>
</div>

<form action="/driver/find" method=post>
    <div class="orderHeader">
        <label for="orderNo">หมายเลขออเดอร์ : </label>
        <input type="text" id="orderNo" name="orderNo">
        <button type="submit">ค้นหา</button>
    </div>
</form>
if nomoreData
  <div class='tableHeader'><p class='noData'>ไม่มีข้อมูลในระบบหรือadminยังไม่ได้ยืนยันออเดอร์</p></div>

<div class="table-responsive">
  <div class="reportBox" >
    if haveData
      <div class="row col-md-13 col-md-offset-2 " >
        
        <table class="table table-striped " style="border: 1px solid #ccc;  padding: 5px; margin: 5% 0; box-shadow: 3px 3px 2px #ccc; transition: 0.5s;">
        <thead>
            <tr>
                <th class="text-center" scope="col">หมายเลขออเดอร์</th>
                <th class="text-center" scope="col">รุ่นรถบรรทุก</th>
                <th class="text-center" scope="col">หมายเลขทะเบียนรถ</th>
                <th class="text-center" scope="col">จำนวนพาเลท</th>
                <th class="text-center" scope="col">สถานะการขนส่ง</th>
                <th class="text-center">แก้ไข</th>
            </tr>
        </thead>
      <tbody>
      if singleTruck
        each a in data1
            <tr>
                <th class="text-center"scope="row">#{a.orderNo}</th>
                <td class="text-center">#{a.truckType}</td>
                <td class="text-center">#{a.licensePlate}</td>
                <td class="text-center">#{a.qty}</td>
                <td class="text-center">#{a.status}</td>
                <td class="text-center"><a class='btn btn-info btn-xs' href="/driver/find?order=#{a.orderNo}" span class="glyphicon glyphicon-edit"></span> อัพเดทสถานะการขนส่ง</a></td>
            </tr>
      if multiTruck
        each b,index in data2
          <tr>
            <th class="text-center" scope="row">#{b.orderNo}</th>
              <td class="text-center">#{jsonarraytype[index]}</td>
              <td class="text-center">#{jsonarraylicense[index]}</td>
              <td class="text-center">#{b.qty}</td>
              <td class="text-center">#{b.status}</td>
              <td class="text-center"><a class='btn btn-info btn-xs' href="/driver/find?order=#{b.orderNo}" span class="glyphicon glyphicon-remove"></span>อัพเดทสถานะการขนส่ง</a> 
          
          </tr>
      </tbody>
      </table>
    </div>
  
  </div>
</div>  


if transportType1
    <form action="/driver/edit?order=#{data.orderNo}" method=post>
        <div class='report'>
            <p><span class='title'> หมายเลขออเดอร์ : </span><span>#{data.orderNo}</span></p>
            <p><span class='title'> userID : </span><span>#{data.userID}</span></p>
            <p><span class='title'> ชื่อ-นามสกุล : </span><span>#{data.fullname}</span></p>
            <p><span class='title'> เบอร์โทร : </span><span>#{data.tel}</span></p>
            <p><span class='title'> ที่อยู่1 : </span><span>#{data.address1}</span><span><a href="https://www.google.co.th/maps/place/#{data.address1}" target="_blank"> ดูเส้นทาง</a></span></p>
            <p><span class='title'> ที่อยู่2 : </span><span>#{data.address2}</span><a href="https://www.google.co.th/maps/place/#{data.address2}" target="_blank"> ดูเส้นทาง</a></span></p>
            <p><span class='title'> ชนิดของพาเลท : </span><span>#{data.palletsize}</span><span class='title'>&nbsp; จำนวน :</span><span> #{data.qty} </span></p>
            <p><span class='title'> รุ่นของรถบรรทุก : </span><span>#{data.truckType}</span></p>
            <p><span class='title'> ทะเบียนรถ : </span><span>#{data.licensePlate}</span></p>
            <p><span class='title'> วัน/เดือน/ปี : </span><span>#{data.time}</span></p>
            
            
            <p><span class='title'> สถานะ : </span>
            <select name="status">
                <option value=#{data.status}>#{data.status}</option>
                <option value="กำลังไปรับของ">กำลังไปรับของ</option>
                <option value="กำลังขนส่ง">กำลังขนส่ง</option>
                <option value="เสร็จสิ้น">เสร็จสิ้น</option>
            </select><p class="adminSubmit">
            <input type=submit value="อัพเดทสถานะการขนส่ง"></p>
        </div>
    </form>
if transportType2
    <form action="/driver/edit?order=#{data.orderNo}" method=post>
        <div class='report'>
            <p><span class='title'> หมายเลขออเดอร์ : </span><span>#{data.orderNo}</span></p>
            <p><span class='title'> userID : </span><span>#{data.userID}</span></p>
            <p><span class='title'> ชื่อ-นามสกุล : </span><span>#{data.fullname}</span></p>
            <p><span class='title'> เบอร์โทร : </span><span>#{data.tel}</span></p>
            <p><span class='title'> ที่อยู่1 : </span><span>#{data.address1}</span><span><a href="https://www.google.co.th/maps/place/#{data.address1}" target="_blank"> ดูเส้นทาง</a></span></p>
            <p><span class='title'> ที่อยู่2 : </span><span>#{data.address2}</span><span><a href="https://www.google.co.th/maps/place/"#{data.address2}"" target="_blank"> ดูเส้นทาง</a></span></p>
            <p><span class='title'> ชนิดของพาเลท : </span><span>#{data.palletsize}</span><span class='title'>&nbsp; จำนวน :</span><span> #{data.qty} </span></p>
            <p><span class='title'> รุ่นของรถบรรทุก : </span><span>#{jsonarraytype}</span></p>
            <p><span class='title'> ทะเบียนรถ : </span><span>#{jsonarraylicense}</span></p>
            <p><span class='title'> วัน/เดือน/ปี : </span><span>#{data.time}</span></p>
            <p><span class='title'> สถานะ : </span>
            <select name="status">
                <option value=#{data.status}>#{data.status}</option>
                <option value="กำลังไปรับของ">กำลังไปรับของ</option>
                <option value="กำลังขนส่ง">กำลังขนส่ง</option>
                <option value="เสร็จสิ้น">เสร็จสิ้น</option>
            </select><p class="adminSubmit">
            
            <input type=submit value="ยืนยันการขนส่ง"></p>
        </div>
    </form>