
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
<nav class="navbar navbar-inverse navbar-expand-sm " >
  <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" >
            <img src="https://sv1.picz.in.th/images/2020/01/23/RCeisy.png" height="40">
        </a>
    </div>
    
    <ul class="nav navbar-nav" style="font-size:16px">
      <li class="active"><a href="/">หน้าหลัก</a></li>
      <li><a href="/contact">ติดต่อ</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" role="button" href="#">ข้อมูลรถบรรทุก</a>
        <div class="dropdown-menu" style="font-size:14px">
            <p align="center" ><a class="dropdown-item modal-fade" data-toggle="modal" data-target="#a1" href="">รถบรรทุก4ล้อ</a>
            <p align="center"><a class="dropdown-item modal-fade" data-toggle="modal" data-target="#a2" href="">รถบรรทุก6ล้อ</a>
            <p align="center"><a class="dropdown-item modal-fade" data-toggle="modal" data-target="#a3" href="">รถบรรทุก10ล้อ</a>
            
        </div>
        <div class="modal" id="a1">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title">ชนิดของรถบรรทุก 4 ล้อ </h1>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                      <div class="modal-body text-center" >
                        <img class="img-responsive" src="http://hps-trade.co.th/wp-content/uploads/2018/09/4w-e1539301073294.png" border="0">
                      </div>
                      <div class="modal-body text-left">
                        <h1>รถบรรทุก 4 ล้อตู้ทึบ</h1>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp; รถบรรทุก 4 ล้อ หรือ รถบรรทุกที่เรียกว่ารถปิคอัพ รถชนิดนี้จะเหมาะกับสินค้า ที่มีน้ำหนักไม่เกิน 1 ตัน และมีขนาดไม่เกิน 2 Pallet โดยรถบรรทุกชนิดนี้มีราคาที่ถูกที่สุด
                        <ul type="disc"><h2>ลักษณะของรถบรรทุก</h2>
                          <li>กว้าง : 1 เมตร</li>
                          <li>ยาว  : 2.2 เมตร </li>
                          <li>สูง   : 1 เมตร </li>
                          <li>น้ำหนักบรรทุกสูงสุด  : 1.2 ตัน </li>
                        </ul>
                        <hr>
                      </div>
                  </div>
                </div>
        </div>
        <div class="modal" id="a2">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title">ชนิดของรถบรรทุก 6 ล้อ </h1>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                     
                      <div class="modal-body text-center" >
                        <img class="img-responsive" src="http://hps-trade.co.th/wp-content/uploads/2018/09/6wm-e1539301116918.png" border="0">
                      </div>
                      <div class="modal-body text-left">
                        <h1>รถบรรทุก 6 ล้อตู้ทึบขนาดกลาง</h1>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp; รถบรรทุก 6 ล้อ ตู้ทึบเป็นรถบรรทุกมาตรฐานที่นิยมใช้โดยทั่วไป ที่ใช้ในการขนส่งในประเทศไทย ซึ่งรถบรรทุกชนิดนี่จะเหมาะกับสินค้าที่มีน้ำหนักไม่เกิน 5 ตัน และขนาดของสินค้าที่มีขนาดไม่เกิน 10 Pallet
                        <ul type="disc"><h2>ลักษณะของรถบรรทุก</h2>
                          <li>กว้าง : 2.2 เมตร</li>
                          <li>ยาว  : 5.5 เมตร </li>
                          <li>สูง   : 2.2 เมตร </li>
                          <li>น้ำหนักบรรทุกสูงสุด  : 5 ตัน </li>
                        </ul>
                        <hr>
                      
                      <div class="modal-body text-center" >
                        <img class="img-responsive" src="http://hps-trade.co.th/wp-content/uploads/2018/09/6wj-e1539301146877.png" border="0">
                      </div>
                      <h1>รถบรรทุก 6 ล้อตู้ทึบจัมโบ้</h1>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;รถบรรทุก 6 ล้อจั้มโบ้ โดยจะเหมาะกับสินค้าที่มีน้ำหนักไม่เกิน 5 ตัน และมีขนาดไม่เกิน 14 pallet
                        <ul type="disc"><h2>ลักษณะของรถบรรทุก</h2>
                          <li>กว้าง : 2.3 เมตร</li>
                          <li>ยาว  : 7.2 เมตร </li>
                          <li>สูง   : 2.3 เมตร </li>
                          <li>น้ำหนักบรรทุกสูงสุด  : 5 ตัน </li>
                        </ul>
                        <hr>
                      </div>
                  </div>
                </div>   
        </div>
        <div class="modal" id="a3">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title">ชนิดของรถบรรทุก 10 ล้อ </h1>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                      <div class="modal-body text-center" >
                        <img class="img-responsive" src="http://hps-trade.co.th/wp-content/uploads/2018/09/10W-e1539301217593.png" border="0">
                      </div>
                      <div class="modal-body text-left">
                        <h1>รถบรรทุก 10 ล้อตู้ทึบ</h1>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp; รถบรรทุกชนิดนี้สามารถบรรทุกสินค้าได้หนักว่ารถบรรทุกชนิด 6 ล้อ แต่ขนาดนั้นจะเท่ากันกับรถบรรทุก 6 ล้อ แต่จะแตกต่างกันที่รถชนิดนี้จะมี 10 ล้อ และบรรทุกได้สูงสุด 8 ตัน
                        <ul type="disc"><h2>ลักษณะของรถบรรทุก</h2>
                          <li>กว้าง : 2.3 เมตร</li>
                          <li>ยาว  : 7.2 เมตร </li>
                          <li>สูง   : 2.3 เมตร </li>
                          <li>น้ำหนักบรรทุกสูงสุด  : 8 ตัน </li>
                        </ul>
                        <hr>
                      </div>
                  </div>
                </div>   
        </div>
      </li> 
      if !username
        <li><a class="modal-fade" data-toggle="modal" data-target="#myModal" href="">สมัครสมาชิก</a></li>
          <div class="modal" id="myModal">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                      <h1 class="modal-title">สมัครสมาชิก</h1>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      </div>
                      <div class="modal-body">
                        <form action="/signup" class="col-sm-6" method=post >                                               
                              <p>
                                  <label for="username">username:</label>
                                  <input style="width:250px" id="userID" type=username required name="userID" style="font-size:14px" placeholder=" ID ผู้ใช้งาน" required pattern="^[a-zA-Z0-9]+$"title="โปรดใช้ตัวอักษรภาษาอังกฤษหรือตัวเลข">
                              <p>
                                  <label for="password">Password:</label>
                                  <input style="width:250px" id="password" minlength="8" type=password required name="password" style="font-size:14px" placeholder=" รหัสผ่าน">
                              //- <p>
                              //-     <label for="password2">Confirm password:</label>
                              //-     <input style="width:250px" id="password2" minlength="8"type=password required name="password2" style="font-size:14px" placeholder=" ยืนยันรหัสผ่าน">
                              //- <p>
                              <p>
                                  <label for="fullname">fullname:</label>
                                  <input style="width:250px" id="fullname" name="fullname" type=text style="font-size:14px" placeholder=" ชื่อ-นามสกุล" required="true">
                              <p>
                              <p>
                                  <label for="email">E-mail address:</label>
                                  <input style="width:250px" id="email" name="email" type=email required  style="font-size:14px" placeholder=" example@gmail.com">
                              <p>
                              <p>
                                  <label for="tel">tel:</label>
                                  <input style="width:250px" id="tel" name="tel" type=text style="font-size:14px" placeholder=" เบอร์โทร" required pattern="[0-9]{10,10}"title="เบอร์โทร10หลัก" >
                              <p>
                              <p>
                                  <label for="companyName">Company Name:</label>
                                  <input style="width:250px" id="companyName" name="companyName" type=text style="font-size:14px" placeholder=" ชื่อบริษัท" >
                              <p>
                              <input type=submit value="สมัครสมาชิก">
                              </form>
                  </div>
              </div>
          </div></div>
      if username
        <li><a href="/transport">ขนส่ง</a></li>
        <li><a href="">เช็คสถานะการขนส่ง</a></li> 
    </ul>
    
    if username
        <form class="navbar-form navbar-right"action="/logout" method=post>
          <div><input type="submit" value="logout">ออกจากระบบ</div>
        </form>
    else
      <form class="navbar-form navbar-right" action="/login" method=post>
        <div class="form-group">
          <input type="text" style="font-size:14px" placeholder="Username" name="username" id="username">
          <input type="password" style="font-size:14px" placeholder="Password"  name="password" id="password">
          <button type="submit" style="font-size:14px">เข้าสู่ระบบ</button>
        </div>
        <div style="color:red"><input name="remember"  type="checkbox" value="remember">Remember Me</div>
      </form>

    </div>
</nav>

<div class="container">
  if loginSuccess
    <div class="alert alert-danger" role="alert" id="fail-alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>ผิดพลาด!</strong> username หรือ passwordไม่ถูกต้อง
    </div>
  if registerFail
    <div class="alert alert-danger" role="alert" id="fail-alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>ผิดพลาด!</strong> username ถูกใช้งานแล้ว
    </div>                    
</div>
<div>
  if truckNotAvailable
    <div class="alert alert-danger alert-dismissible p-3 my-3 border">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>ไม่สำเร็จ!</strong>ขณะนี้รถบรรทุกไม่พร้อมใช้งาน
</div>
</div>

