
include layout.pug
<!------------------------------------------------>
<head>
    
    style.
    
      th {
        background-color: #e96514;
        color: white;
      }
     
      div{
        display:block;
      }
      .item {
        width: 31.33%;
        margin: 0 1%;
        float: left;
        overflow: hidden;
      }
      .item1{
        width: 40%;
        margin: 0 1%;
        float: left;
        overflow: hidden;
        font-size: 14px;
      }

      .list {
        margin: 10px auto;
        max-width: 800px;
      }
      .TruckStatus{
            width:60%;
            text-align:center; 
            margin-left:auto; 
            margin-right:auto; 
            
              
        }
      .truck-status-header{
        text-align:center;
      }
      .date{
        text-align:center;
        color: blue;
      }
      
      .navbar-inverse {
        background-color: #222;
      }
      
      .c-truck{
        width:100%;
        position:relative;
        margin:auto;
      }
      .c-pallet{
        width:60%;
        position:relative;
        margin:left;
      }
      
      .carousel-inner{
        position: relative;
        width: 100%;
        overflow: hidden;
       
      }
      .carousel-indicators{
        position: absolute;
        bottom: 10px;
        left: 50%;
        z-index: 15;
        width: 60%;
        padding-left: 0;
        margin-left: -30%;
        text-align: center;
        list-style: none;
      }
      .carousel-item {
        
        position: relative;
        display: none;
        -webkit-transition: .6s ease-in-out left;
        -o-transition: .6s ease-in-out left;
        transition: .6s ease-in-out left;
      }
      .carousel-item-pallet {
        
        position: center;
        display: none;
        -webkit-transition: .6s ease-in-out left;
        -o-transition: .6s ease-in-out left;
        transition: .6s ease-in-out left;
      }
      .carouselTitle {
        font-size: 64px;
        font-weight: 100;
        color: white;
        text-shadow: 0 1px 2px #000;
        position: absolute;
        top:0px;
        right: 0px;
      }
      .carousel-item .active{
        transform: translate3d(-100%,0,0);
        
      }
      .truck{
        
        height:60%;
      }
      .service-tab{
        background-color:#f3f3f3;
        height:40%;
      }
      .service-title{
        color: #e96514;
        font-size: 50px;
        text-align: center;
        margin: 0;
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 8px;
        padding-left: 0;
      }
      .desc{
        color: #555;
        font-size: 20px;
        text-align: center;
        line-height: 1.1pt;
      }
      .c1{
        
        background-image:url(https://image.flaticon.com/icons/svg/493/493808.svg);
      }
      .icon{
        margin-top:2%;
        height: 90px;
        background-repeat: no-repeat;
        background-position: bottom center;
      }
      .tb{
        display: table;
        width: 100%;
        height: 60px;
        margin-top: 0px;
        
      }
      .tb .txt{
        display: table-cell;
        width: 100%;
        text-align: center;
        vertical-align: middle;
        color: #37404d;
      }
      .tb .txt1{
        padding-top:13%;
        display: table-cell;
        width: 100%;
        text-align: center;
        vertical-align: middle;
        color: #37404d;
      }
      .big{
        color: #999;
        font-size: 22px;

      }
      .contactArea {

        padding-top:15;
        
      }
    

      .t1 {
        color: #e96514!important;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        display: block;
        margin-right: 10px;
        line-height: 1.3;
      }
      .t2 {
        color: #38414e;
        font-size: 16.5px;
        text-align: center;
        margin-right: 10px;
        
      }
      .tcontact{
        line-height: 1.2;
        padding-bottom: 10px;
       
      }
     .btn-contact {
        margin:auto;
        border-radius: 100px !important;
        background-color: #e96514;
        color: #ffffff !important;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        font-family: 'WebFont','Kanit', tahoma, verdana, arial, sans-serif, "lucida grande";
        font-size: 16px;
        -webkit-appearance: none;
      }
      .button-c{
        padding-top:0.5%;
      }
      
      
</head>
<!------------------------------------------------>


<nav class="navbar navbar-inverse navbar-expand-sm " >
  <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" >
            img(src="logo.png" alt='logo' height="110" )
        </a>
    </div>
    
    <ul class="nav navbar-nav" style="font-size:16px">
      <li class="active"><a href="/">หน้าหลัก</a></li>
      <li><a href="/contact">ติดต่อ</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" role="button" href="#">ข้อมูลรถบรรทุก</a>
        <div class="dropdown-menu" style="font-size:14px">
            //- <p align="center" ><a class="dropdown-item modal-fade" data-toggle="modal" data-target="#a1" href="">รถบรรทุก4ล้อ</a>
            <p align="center"><a class="dropdown-item modal-fade" data-toggle="modal" data-target="#a2" href="">รถบรรทุก6ล้อ</a>
            <p align="center"><a class="dropdown-item modal-fade" data-toggle="modal" data-target="#a3" href="">รถบรรทุก10ล้อ</a>
            
        </div>
        //- <div class="modal" id="a1">
        //-         <div class="modal-dialog modal-lg">
        //-           <div class="modal-content">
        //-             <div class="modal-header">
        //-             <h1 class="modal-title">ชนิดของรถบรรทุก 4 ล้อ </h1>
        //-             <button type="button" class="close" data-dismiss="modal">&times;</button>
        //-             </div>
        //-               <div class="modal-body text-center" >
        //-                 <img class="img-responsive" src="http://hps-trade.co.th/wp-content/uploads/2018/09/4w-e1539301073294.png" border="0">
        //-               </div>
        //-               <div class="modal-body text-left">
        //-                 <h1>รถบรรทุก 4 ล้อตู้ทึบ</h1>
        //-                 <p>&nbsp;&nbsp;&nbsp;&nbsp; รถบรรทุก 4 ล้อ หรือ รถบรรทุกที่เรียกว่ารถปิคอัพ รถชนิดนี้จะเหมาะกับสินค้า ที่มีน้ำหนักไม่เกิน 1 ตัน และมีขนาดไม่เกิน 2 Pallet โดยรถบรรทุกชนิดนี้มีราคาที่ถูกที่สุด
        //-                 <ul type="disc"><h2>ลักษณะของรถบรรทุก</h2>
        //-                   <li>กว้าง : 1 เมตร</li>
        //-                   <li>ยาว  : 2.2 เมตร </li>
        //-                   <li>สูง   : 1 เมตร </li>
        //-                   <li>น้ำหนักบรรทุกสูงสุด  : 1.2 ตัน </li>
        //-                 </ul>
        //-                 <hr>
        //-               </div>
        //-           </div>
        //-         </div>
        //- </div>
        <div class="modal" id="a2">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title">ชนิดของรถบรรทุก 6 ล้อ </h1>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                     
                      <div class="modal-body text-center" >
                        <img class="img-responsive" src="http://hps-trade.co.th/wp-content/uploads/2018/09/6wm-e1539301116918.png" border="0">
                      </div>
                      <div class="modal-body text-left">
                        <h1>รถบรรทุก 6 ล้อตู้ทึบขนาดกลาง</h1>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp; รถบรรทุก 6 ล้อตู้ทึบเป็นรถบรรทุกมาตรฐานที่นิยมใช้โดยทั่วไป ที่ใช้ในการขนส่งในประเทศไทย ซึ่งรถบรรทุกชนิดนี่จะเหมาะกับสินค้าที่มีน้ำหนักไม่เกิน 5 ตัน และขนาดของสินค้าที่มีขนาดไม่เกิน 8 Pallet
                        <ul type="disc"><h2>ลักษณะของรถบรรทุก</h2>
                          <li>กว้าง : 2.2 เมตร</li>
                          <li>ยาว  : 5.5 เมตร </li>
                          <li>สูง   : 2.2 เมตร </li>
                          <li>น้ำหนักบรรทุกสูงสุด  : 5 ตัน </li>
                        </ul>
                        <hr>
                      
                     
                      </div>
                  </div>
                </div>   
        </div>
        <div class="modal" id="a3">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title">ชนิดของรถบรรทุก 10 ล้อ </h1>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                      <div class="modal-body text-center" >
                        <img class="img-responsive" src="http://hps-trade.co.th/wp-content/uploads/2018/09/10W-e1539301217593.png" border="0">
                      </div>
                      <div class="modal-body text-left">
                        <h1>รถบรรทุก 10 ล้อตู้ทึบ</h1>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp; รถบรรทุก 10 ล้อตู้ทึบ บรรทุกได้สูงสุด 8 ตัน และขนาดของสินค้าต้องไม่เกิน 12 Pallet
                        <ul type="disc"><h2>ลักษณะของรถบรรทุก</h2>
                          <li>กว้าง : 2.3 เมตร</li>
                          <li>ยาว  : 7.2 เมตร </li>
                          <li>สูง   : 2.3 เมตร </li>
                          <li>น้ำหนักบรรทุกสูงสุด  : 8 ตัน </li>
                        </ul>
                        <hr>
                      </div>
                  </div>
                </div>   
        </div>
      </li> 
      if !username
        <li><a class="modal-fade" data-toggle="modal" data-target="#myModal" href="">สมัครสมาชิก</a></li>
          <div class="modal" id="myModal">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                      <h1 class="modal-title">สมัครสมาชิก</h1>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      </div>
                      <div class="modal-body">
                        <form action="/signup" class="col-sm-6" method=post >                                               
                              <p>
                                  <label for="username">username:</label>
                                  <input style="width:250px" id="userID" type=username required name="userID" style="font-size:14px" placeholder=" ID ผู้ใช้งาน" required pattern="^[a-zA-Z0-9]+$"title="โปรดใช้ตัวอักษรภาษาอังกฤษหรือตัวเลข">
                              <p>
                                  <label for="password">Password:</label>
                                  <input style="width:250px" id="password" minlength="8" type=password required name="password" style="font-size:14px" placeholder=" รหัสผ่าน">
                              //- <p>
                              //-     <label for="password2">Confirm password:</label>
                              //-     <input style="width:250px" id="password2" minlength="8"type=password required name="password2" style="font-size:14px" placeholder=" ยืนยันรหัสผ่าน">
                              //- <p>
                              <p>
                                  <label for="fullname">fullname:</label>
                                  <input style="width:250px" id="fullname" name="fullname" type=text style="font-size:14px" placeholder=" ชื่อ-นามสกุล" required="true">
                              <p>
                              <p>
                                  <label for="email">E-mail address:</label>
                                  <input style="width:250px" id="email" name="email" type=email required  style="font-size:14px" placeholder=" example@gmail.com">
                              <p>
                              <p>
                                  <label for="tel">tel:</label>
                                  <input style="width:250px" id="tel" name="tel" type=text style="font-size:14px" placeholder=" เบอร์โทร" required pattern="[0-9]{10,10}"title="เบอร์โทร10หลัก" >
                              <p>
                              <p>
                                  <label for="companyName">Company Name:</label>
                                  <input style="width:250px" id="companyName" name="companyName" type=text style="font-size:14px" placeholder=" ชื่อบริษัท" >
                              <p>
                              <input type=submit value="สมัครสมาชิก">
                              </form>
                  </div>
              </div>
          </div></div>
      if username
        <li><a href="/transport">ขนส่ง</a></li>
        <li><a href="/checkStatus">เช็คสถานะการขนส่ง</a></li> 
    </ul>
    
    if username
        <form class="navbar-form navbar-right"action="/logout" method=post>
          <div><input type="submit" value="logout">ออกจากระบบ</div>
        </form>
    else
      <form class="navbar-form navbar-right" action="/login" method=post>
        <div class="form-group">
          <input type="text" style="font-size:14px" placeholder="Username" name="username" id="username">
          <input type="password" style="font-size:14px" placeholder="Password"  name="password" id="password">
          <button type="submit" style="font-size:14px">เข้าสู่ระบบ</button>
        </div>
        <div style="color:red"><input name="remember"  type="checkbox" value="remember">Remember Me</div>
      </form>

    </div>
</nav>



if loginFail
  <div class="alert alert-danger" role="alert" id="fail-alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>ผิดพลาด!</strong> username หรือ passwordไม่ถูกต้อง
  </div>
if registerFail
  <div class="alert alert-danger" role="alert" id="fail-alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>ผิดพลาด!</strong> username ถูกใช้งานแล้ว
  </div>   
if transpotsuccess
  <div class="alert alert-success alert-dismissible p-3 my-3 border">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>สำเร็จ!</strong>กำลังเตรียมการขนส่งท่านสามารถคลิกเช็คสถานะการขนส่งเพื่อตรวจสอบสถานะ                 
  </div>
<div>
if truckNotAvailable
  <div class="alert alert-danger alert-dismissible p-3 my-3 border">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>ไม่สำเร็จ!</strong>ขณะนี้รถบรรทุกไม่พร้อมใช้งาน
  </div>



<div class = "truck ">
//- carousel 
<div id="carousel-example-generic-truck" class="carousel slide c-truck" data-ride="carousel">
<ol class="carousel-indicators">
<li data-target="#carousel-example-generic-truck" data-slide-to="0" class="active"></li>
<li data-target="#carousel-example-generic-truck" data-slide-to="1"></li>
<li data-target="#carousel-example-generic-truck" data-slide-to="2"></li>
<li data-target="#carousel-example-generic-truck" data-slide-to="3"></li>
<li data-target="#carousel-example-generic-truck" data-slide-to="4"></li>
</ol>
<div class="carousel-inner" role="listbox">
<div class="carousel-item active">
//- <p class="carouselTitle">6WheelsMediumCabinet</p>
<img class="center-block" src="6wheels.jpg" style="width:80%; height:100%;" alt="0">
</div>
<div class="carousel-item">
<img class="center-block" src="10wheels.jpg" style="width:80%; height:100%;" alt="1">
</div>
<div class="carousel-item">
//- <p class="carouselTitle">6WheelsMediumCabinet</p>
<img class="center-block" src="euro.png" style="width:80%; height:100%;" alt="3">
</div>
<div class="carousel-item">
<img class="center-block" src="thai.png" style="width:80%; height:100%;" alt="4">
</div>
<div class="carousel-item">
<img class="center-block" src="japan.png" style="width:80%; height:100%;" alt="5">
</div>
</div>
<a class="left carousel-control" href="#carousel-example-generic-truck" role="button" data-slide="prev">
<span class="icon-prev" aria-hidden="true"></span>
<span class="sr-only">Previous</span>
</a>
<a class="right carousel-control" href="#carousel-example-generic-truck" role="button" data-slide="next">
<span class="icon-next" aria-hidden="true"></span>
<span class="sr-only">Next</span>
</a>
</div>
</div>
//- truck status
<div class="TruckStatus">
  <h1 class='truck-status-header'><p> สถานะของรถบรรทุกประจำวันที่ </p><p class='date'>#{date}-#{month}-#{year} </p></h1>
  <table class="table" style="overflow-x:auto;">
  <thead>
    <tr>
      <th class="text-center" scope="col">หมายเลขทะเบียนรถ</th>
      <th class="text-center" scope="col">รุ่นรถบรรทุก</th>
      <th class="text-center" scope="col">สถานะ</th>
    </tr>
  </thead>
  <tbody>
    each a in indexdata
      <tr>
        <td class="text-center"scope="row">#{a.licensePlate}</td>
        <td class="text-center">#{a.type}</td>
        <td class="text-center">#{a.status}</td>
      </tr>
    
      </tbody>

  </table>
</div>
</div>

<div class="service-tab">
 <h3 class="service-title">บริการขนส่งสินค้า</h3>
 <p class="desc">เป็นระบบการขนส่งวันต่อวัน</p>
<div class="list">
  <div class="item">
  <div class="icon c1"></div>
  <div class="tb">
  <div class="txt">
  <div class="big">Business to Business</div>ธุรกิจ-ส่งถึง-ธุรกิจ</div>
  </div>
  </div>
  <div class="item1">
  <div class="tb">
  <div class="txt1">บริการช่วยเหลือในการขนส่งสินค้าจากโกดังเก็บของไปยังโกดังเก็บของตามที่ลูกค้าต้องการ โดยเป็นการขนส่งโดยใช้ Pallet ในการจัดส่ง<p><strong>เนื่องจากยังเป็นระบบยังอยู่ในขั้นการทดสอบจึงมีการกำหนดการขนส่งภายในจังหวัดกรุงเทพฯเท่านั้น</strong></p></div>
  </div>
  </div>
                
</div>
</div>
//- contactArea

<div class="contactArea" >
<div class="inner"> 
<img class="rounded mx-auto d-block" src="icon_where.png">
<div class="t1">ที่ตั้งบริษัท</div>
<div class="t2">บริษัท ซีเอ็ส ทรานสปอร์ต</div>
<div class="text-center button-c">
<a href="http://localhost:1000/contact" class="btn-contact" role="button">ค้นหาที่อยู่บริษัท</a> 
</div>
</div>

 




//- footer
include footer.pug